/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('https://npmcdn.com/flatpickr/dist/themes/dark.css');
@import url('./1-timer.css');
@import url('./2-snackbar.css');


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

header {
  display: flex;
  margin-bottom: 10px;
}

section {
  margin-bottom: 10px;
}

button {
  height: 32px;
  font-size: 15px;
  padding: 0.5em 1em;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color:#4E75FF;
  pointer-events: auto;
}
button:hover {
  background-color: #6C8CFF;
}
button:disabled {
  cursor: not-allowed;
  background-color: #ddd;
  color: #666;
}

input {
  border-radius: 4px;
  color: 2E2F42;
}
input:hover{
  border-color: #000;
}
input:active{
  border-color: #4E75FF;
}
input:disabled {
  color: #808080;
  background-color: #fafafa;
}